.button {
    padding: 2vw 4vw; /* Adjust relative padding */
    border: 0.2em solid black; /* Adjust relative border width */
    margin-right: 2vw; /* Adjust relative margin */
    display: inline-block; /* Ensure buttons are displayed in a row */
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

.canvas {
    text-align: center;
}

/* Optional: Adjust button size for small screens */
@media screen and (max-width: 768px) {
    .button {
        padding: 5vw 10vw;
        margin-right: 5vw;
    }
}
